<div class="row create-piece">
    <div class="col-auto select-piece-type flex-first">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" piecetype="0">Event</a>
                <a class="dropdown-item" href="#" piecetype="1">Choices</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" piecetype="2">Loss</a>
                <a class="dropdown-item" href="#" piecetype="3">Win</a>
            </div>
        </div>
    </div>
    <div class="col create-piece-middle has-danger"></div>
    <div class="col-auto flex-last">
        <button class="btn btn-primary create-ok" disabled>
            <span class="glyphicon glyphicon-ok"></span>OK
        </button>
    </div>
</div>