{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}
    <div id="story-list-container" class="container">
        <h1>Stories List</h1>
        <div class="row stories-list">
            {% for story in myStories %}
                <div class="col-sm-12 col-md-4 story-card-container">
                    <a href="{% url "playStory" storyId=story.pk %}" class="story-card">
                        <p><h4 class="story-title">{{ story.title }}</h4>
                        <h6>By {{ story.creator.username }}</h6></p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Choose your path!</h1>
            <p class="lead">Log In to create your own stories!</p>
        </div>
    </div>
{% endif %}
    <div id="story-list-container" class="container">
        <h1>Stories List</h1>
        <div class="row stories-list">
            {% for story in allStories %}
                <div class="col-sm-12 col-md-4 story-card-container">
                    <a href="{% url "playStory" storyId=story.pk %}" class="story-card">
                        <p><h4 class="story-title">{{ story.title }}</h4>
                        <h6>By {{ story.creator.username }}</h6></p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
